<!--CLIENTE-->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/EstiloAdmin.css" />

    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="logo">KIN<span>TI</span></a>

        <ul class="navbar">
            <li><a href="#about">Sobre Nosotros</a></li>
            <li><a href="cliente/listar">Ver Menú</a></li>
            <li><a href="#">Contacto</a></li>

            <!--<li><a href="admin/listarre">Reservaciones</a></li>-->
        </ul>

        <div class="h-right">
            <a href="#">Siguenos</a>
            <a href="#"><i class="ri-instagram-fill"></i></a>
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>
</body>
</html>