@model IEnumerable<Web_Kinti.Models.TemporalVenta>

<html>
<head>
    <link rel="stylesheet" href="~/css/StyleCarrito.css">

    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <header>
        <a href="#" class="logo">KIN<span>TI</span></a>

        <ul class="navbar">
            <li><a href="#about">Sobre Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="Listar">Menú</a></li>
        </ul>

        <div class="h-right">
            <a href="#">Siguenos</a>
            <a href="#"><i class="ri-instagram-fill"></i></a>
            <a href="#"><i class="ri-twitter-fill"></i></a>
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <div class="table">
        <table class="table_section">
            <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Platillo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdComida</td>
                        <td>@item.CodigoBarra</td>
                        <td>@item.Precio</td>
                        <td>@item.cantidad</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>